.footer__container {
  background: white;
  /* background: #9f9696; */
}

.footer__inner {
  padding-top: 18px;
  padding-bottom: 174px;
  display: flex;
  /* align-items: center; */
  max-width: 1240px;
  margin: 0 auto;
}

.company__info {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  gap: 45px;
}

.company__about {
  color: #adadad;
  font-family: "Satoshi", sans-serif !important;

  margin: 0;
  margin-top: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 146%; /* 23.36px */
  letter-spacing: -0.176px;
  max-width: 293px;
  margin-top: 10px;
}

.footer__hero {
  width: 102.5px;
  height: 102.5px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 153px;
  margin-left: 62px;
  margin-right: 48px;
  padding-top: 50px;

  a {
    color: #323232;

    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
  }
}

.footer__contact__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 50px;
}
.footer__social__info {
  display: flex;
  flex-direction: column;
  min-width: 220px;
  margin-left: 18px;
  padding-top: 50px;
}

.footer__contact__header {
  color: #323232;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 146%; /* 29.2px */
  letter-spacing: -0.22px;
}

.footer__contact1 {
  color: #323232;
  font-family: "Satoshi", sans-serif !important;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 173.5%; /* 27.76px */
  letter-spacing: -0.176px;
  span {
    text-decoration-line: underline;
  }
}

.social__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 21px;
  width: 100%;
}
.copyright {
  padding: 20px;
  background: #000;
  text-align: center;
  color: #fff;
  font-family: "Satoshi", sans-serif !important;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media only screen and (max-width: 1250px) {
  .footer__inner {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media only screen and (max-width: 1000px) {
  .footer__inner {
    flex-direction: column;
    padding-bottom: 100px;
  }
  .footer__links {
    margin: 0;
  }
  .footer__contact__info {
    padding-top: 18px;
  }
  .footer__social__info {
    max-width: 200px;
    padding-top: 40px;
    margin-left: 0;
  }
  .copyright {
    padding: 12px 20px;
  }
  .footer__links a {
    font-size: 12px;
  }
  .footer__contact1 {
    font-size: 12px;
  }
  .footer__contact__header {
    font-size: 16px;
  }
  .header {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 700px) {
}
