@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Gambetta", serif;
}
.satoshi {
  font-family: "Satoshi", sans-serif !important;
}
.swiper-wrapper {
  display: flex !important;
  align-items: flex-end !important;
  /* justify-content: center !important; */
}
.swiper-slide {
  display: flex !important;
  align-items: flex-end !important;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px !important;
  top: 91% !important;
  left: 0;
  width: 100%;
  /* background-color: #00d6ce; */
}
.swiper-pagination-bullet {
  transition: all 0.4s ease !important;
  height: 3px !important;
  border-radius: 0 !important;
}
.swiper-pagination-bullet-active {
  /* width: 30px !important; */
  border-radius: 0px !important;
  transition: all 0.4s ease;
  border-radius: 0;
}

.transition {
  transition: all 0.4s ease;
}
.card-shadow-1 {
  box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.06);
}
#tags .swiper-wrapper {
  display: flex !important;
  justify-content: start !important;
}
